.b_t {
	font-family: "ו";
	font-size: 16px;
	line-height: 100%;
	color: #000000;
}
.a1 {
	font-family: "ו";
	font-style: normal;
	line-height: 200%;
	font-weight: normal;
	color: #000000;
	font-size: 14px;
}
