<html>
<head>
<title> Flash Window </title>
<!----
##
##	Articulate Presenter (http://www.articulateglobal.com)
##  Flashobject version 4.1.002
##
------>
<script language="javascript">
<!---
	window.focus();
//--->
</script>
</head>
<body topmargin=0 leftmargin=0 rightmargin=0 marginheight=0 marginwidth=0>
<center>
<OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
   codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0"
   WIDTH="__WIDTH__" HEIGHT="__HEIGHT__" ID="flashobjectswf" ALIGN="">
<PARAM NAME=movie VALUE="__FILENAME__">
<PARAM NAME=quality VALUE="high">
<PARAM NAME=scale VALUE="show all">
<EMBED WIDTH="__WIDTH__" HEIGHT="__HEIGHT__" SRC="__FILENAME__" NAME="flashobjectswf" quality="high" scale="show all"  ALIGN=""
    TYPE="application/x-shockwave-flash" PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer"></EMBED>
</OBJECT>
</center>
</body>
</html>
