<!--SCORM-Compatible Learning Module Template.

written by Ellen Meiselman © 2006, 2007

http://thedesignspace.net



    This file is part of the SCORM-Compatible Learning Module Template.



    The SCORM-Compatible Learning Module Template is free software; you can redistribute it and/or modify

    it under the terms of the GNU General Public License as published by

    the Free Software Foundation; either version 3 of the License, or

    (at your option) any later version.



    The SCORM-Compatible Learning Module Template  is distributed in the hope that it will be useful,

    but WITHOUT ANY WARRANTY; without even the implied warranty of

    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the

    GNU General Public License for more details.



    You should have received a copy of the GNU General Public License

    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!--/*v 1.4 9-28-2007*/-->
<!--the div below is the node that gets written to by the script pageNavigation.js-->
<!--this one is for a module with embedded quizzes!-->

<div id="NavBar"></div>
 
   <!--<div id="otherLinks"></div>-->
   <div id="LMSControls">


  </div>
<div id="navbarBottom">
 <a href="mailto:someone@nowhere.com" class="contentExpert">Content Expert:<br />
 A. Content Expert </a>
  </div>
  <!--end navbarBottom div-->

 
